@{
    ViewData["Title"] = "Home Page";
}

<h1 style="width:500px;text-align:center;background-color:aliceblue;align-self:center;">Wellcome to your timeline</h1>
<div style="text-align:left;background-color:aliceblue">
    <ul>
        <li>
            <h2>Favorite books</h2>
            <table style="border-spacing:20px, 10px">
                <thead>
                    <tr>
                        @if (ViewBag.FavoriteBooks == null)
                        {
                            <th style="width:200px;text-align:center">Name</th>
                            <th style="width:200px;text-align:center">Author</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Math.Min(5, ViewBag.FavoriteBooks.Count); i++)
                    {
                        <tr>
                            <td style="width:200px;text-align:center">
                                @ViewBag.FavoriteBooks[i].Book.Name
                            </td>
                            <td style="width:200px;text-align:center">
                                @ViewBag.FavoriteBooks[i].Book.Author
                            </td>
                            <td style="width:200px;text-align:center">
                                <a asp-controller="FavoriteBooks" asp-action="RemoveFromFavorites" asp-route-id="@ViewBag.FavoriteBooks[i].Id"> Remove </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @if (ViewBag.FavoriteBooks.Count > 5)
            {
                <a class="btn btn-default" href="FavoriteBooks/Index">
                    See more
                </a>
            }
        </li>
        <li>
            <h2>Read books</h2>
            <table style="border-spacing:20px, 10px">
                <thead>
                    <tr>
                        @if (ViewBag.ReadBooks == null)
                        {
                            <th style="width:200px;text-align:center">Name</th>
                            <th style="width:200px;text-align:center">Author</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Math.Min(5, ViewBag.ReadBooks.Count); i++)
                    {
                        <tr style="table-layout:fixed;">
                            <td style="width:200px;text-align:center">
                                @ViewBag.ReadBooks[i].Book.Name
                            </td>
                            <td style="width:200px;text-align:center">
                                @ViewBag.ReadBooks[i].Book.Author
                            </td>
                            <td>
                                <a asp-controller="ReadBooks" asp-action="RemoveFromRead" asp-route-id="@ViewBag.ReadBooks[i].Id"> Remove </a> |
                                @foreach (FavoriteBook item in ViewBag.FavoriteBooks) { if (item.Book == @ViewBag.ReadBooks[i].Book) { ViewBag.alreadyInFavorites = true; } }
                                @if (!ViewBag.alreadyInFavorites)
                                {<a asp-controller="ReadBooks" asp-action="AddToFavorites" asp-route-id="@ViewBag.ReadBooks[i].Book.Id"> Add to favorites</a>}
                                @{ViewBag.alreadyInFavorites = false;}
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @if (ViewBag.ReadBooks.Count > 5)
            {
                <a class="btn btn-default" href="ReadBooks/Index" style="align-content: center">
                    See more
                </a>
            }
        </li>
        <li>
            <h2>Sleep schedule</h2>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.0/chart.min.js"></script>
            <canvas id="myChart" width="400" height="400"></canvas>
            <script>
                var myChart = new Chart('myChart', {
                    type: 'bar',
                    data: {
                        labels: ['@ViewBag.Dates[6]', '@ViewBag.Dates[5]', '@ViewBag.Dates[4]', '@ViewBag.Dates[3]', '@ViewBag.Dates[2]', '@ViewBag.Dates[1]', '@ViewBag.Dates[0]'],
                        datasets: [{
                                label: 'Hours of sleep',
                                data: [@((ViewBag.Sleep[6] == null)? ViewBag.Sleep[6]: ViewBag.Sleep[6].Hours), @((ViewBag.Sleep[5] == null)? ViewBag.Sleep[5]: ViewBag.Sleep[5].Hours),
                                        @((ViewBag.Sleep[4] == null)? ViewBag.Sleep[4]: ViewBag.Sleep[4].Hours), @((ViewBag.Sleep[3] == null)? ViewBag.Sleep[3]: ViewBag.Sleep[3].Hours),
                                        @((ViewBag.Sleep[2] == null)? ViewBag.Sleep[2]: ViewBag.Sleep[2].Hours), @((ViewBag.Sleep[1] == null)? ViewBag.Sleep[1]: ViewBag.Sleep[1].Hours),
                                        @((ViewBag.Sleep[0] == null)? ViewBag.Sleep[0]: ViewBag.Sleep[0].Hours)],
                        backgroundColor: [
                            'rgba(0, 0, 255, 0.2)',
                            'rgba(0, 0, 255, 0.2)',
                            'rgba(0, 0, 255, 0.2)',
                            'rgba(0, 0, 255, 0.2)',
                            'rgba(0, 0, 255, 0.2)',
                            'rgba(0, 0, 255, 0.2)',
                            'rgba(0, 0, 255, 0.2)'
                        ],
                        borderColor: [
                            'rgba(0, 0, 255, 1)',
                            'rgba(0, 0, 255, 1)',
                            'rgba(0, 0, 255, 1)',
                            'rgba(0, 0, 255, 1)',
                            'rgba(0, 0, 255, 1)',
                            'rgba(0, 0, 255, 1)',
                            'rgba(0, 0, 255, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
            </script>
        </li>
        </ulstyle="align-items:center">
</div>

